@import url('https://fonts.googleapis.com/css2?family=Scheherazade+New &display=swap');

body{
    background-color: lavender;
    text-align: center;
    font-family: 'Scheherazade New', serif;
}
a{
    text-decoration: none;
}

p{
    font-size: 20px;
}

h1{
    font-size: 40px;
    color:rgb(85, 85, 221) ;
}
label{
    color:rgb(85, 85, 221) ;
    font-size: 35px;
    font-weight: 200;
}
}